[submodule "python-openflow"]
	path = python-openflow
	url = https://github.com/kytos-ng/python-openflow
[submodule "kytos-utils"]
	path = kytos-utils
	url = https://github.com/kytos-ng/kytos-utils
[submodule "kytos"]
	path = kytos
	url = https://github.com/kytos-ng/kytos
[submodule "napps/kytos/of_core"]
	path = napps/kytos/of_core
	url = https://github.com/kytos-ng/of_core
[submodule "napps/kytos/flow_manager"]
	path = napps/kytos/flow_manager
	url = https://github.com/kytos-ng/flow_manager
[submodule "napps/kytos/topology"]
	path = napps/kytos/topology
	url = https://github.com/kytos-ng/topology
[submodule "napps/kytos/of_lldp"]
	path = napps/kytos/of_lldp
	url = https://github.com/kytos-ng/of_lldp
[submodule "napps/kytos/pathfinder"]
	path = napps/kytos/pathfinder
	url = https://github.com/kytos-ng/pathfinder
[submodule "napps/kytos/maintenance"]
	path = napps/kytos/maintenance
	url = https://github.com/kytos-ng/maintenance
[submodule "napps/kytos/coloring"]
	path = napps/amlight/coloring
	url = https://github.com/kytos-ng/coloring
[submodule "napps/kytos/sdntrace"]
	path = napps/amlight/sdntrace
	url = https://github.com/kytos-ng/sdntrace
[submodule "napps/kytos/flow_stats"]
	path = napps/amlight/kytos_stats
	url = https://github.com/kytos-ng/kytos_stats
[submodule "napps/kytos/sdntrace_cp"]
	path = napps/amlight/sdntrace_cp
	url = https://github.com/kytos-ng/sdntrace_cp
[submodule "napps/kytos/mef_eline"]
	path = napps/kytos/mef_eline
	url = https://github.com/kytos-ng/mef_eline
[submodule "kytos-end-to-end-tests"]
	path = kytos-end-to-end-tests
	url = https://github.com/kytos-ng/kytos-end-to-end-tests
[submodule "kytos-docker"]
	path = kytos-docker
	url = https://github.com/amlight/kytos-docker
[submodule "napps/kytos/of_multi_table"]
	path = napps/kytos/of_multi_table
	url = https://github.com/kytos-ng/of_multi_table
[submodule "napps/kytos/telemetry_int"]
	path = napps/kytos/telemetry_int
	url = https://github.com/kytos-ng/telemetry_int
[submodule "ui"]
	path = ui
	url = https://github.com/kytos-ng/ui.git
[submodule "napps/amlight/noviflow"]
	path = napps/amlight/noviflow
	url = https://github.com/kytos-ng/noviflow
